<div class="container review">
  <!-- Form -->
  <div class="row">
    <div class="h3">Login to your <span style="font-weight: 200;">good</span>boox account</div>
    <form action="/auth/login" method="POST">
      <!-- <label for="auth-email">Email</label> -->
      <input id="auth-email" class="form-control mb-3 w-50" type="email" name="email" autofocus placeholder="Email address" >
      <!-- <label for="auth-password">Password</label> -->
      <input id="auth-password" class="form-control mb-3 w-50" type="password" name="password" placeholder="Password">
    
      <input type="submit" value="Log In" class="btn btn-warning">
    </form>
  </div>
  
</div>
