*{
  font-family:'Newsreader', 'Georgia', 'Times New Roman', Times, serif;
  
}

:root{
  --gb-brown:#382110;
  --gb-light-brown:#8d532a;
}

body{
  background-color:#F4F1EA !important;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

li{
  list-style: none;
}

.gb-links{
  color: var(--gb-brown);
}

.gb-links:hover{
  color: var(--gb-light-brown);
}


.review-list{
  margin-bottom: 7px;
}

h1 {
  color: rgb(0, 0, 0);
}

.goodboox-header{
  padding-left: 0px!important;
  
}
.goodboox-header li a{
  color: var(--gb-brown)!important;
  
}

.goodboox-header li a:hover{
  color: var(--gb-light-brown)!important;
}

.goodboox-logo{
  text-decoration: none;
  margin-bottom: 0px;
  padding: 0px;
  color: var(--gb-brown);
  font-size:3.2rem;
  
}
.goodboox-logo:hover{
  color:var(--gb-light-brown) ;
}

.goodboox-subtitle{
  margin-bottom: 1rem;
  font-weight: 400;
  font-style: oblique;
}

.review{
  /* border: black 2px solid; */
  margin-bottom: 50px;
  background-color: rgb(245, 245, 245);
  border: 1px solid #F4EAF2;
  border-radius: 10px;
  padding: 25px 30px!important;
}

.bold-600{
  font-weight: 600;
}

.bold-700{
  font-weight: 700;
}

.comment-name{
  font-weight: 700;
  font-size: .8rem;
}
p.comment-name{
  margin: 0 0 0 0 ;
}


.nyt-content{
  border: #F4EAF2 1px solid;
  background: rgb(245, 245, 245);
  padding: 25px 30px!important;
  border-radius: 10px;
}
.nyt-box__container{
  display: flex;
  justify-content: space-between;
}
.nyt-content__box{
  width: 300px;
}

.book-img{
  
  margin:5px 15px 5px 5px;
  width: 185px;
}

.review-page{
  margin-bottom:5px;
  font-size: .8rem;
  
}

.edit-container{
  display: flex;
}

.nyt-book--image{
  width:80px;
  object-fit: scale-down;
  padding-right: 10px;
}

.nyt-content__box-content{
  position: relative;
  display: flex;
}

.nyt-book__title{
  font-weight: 600;
  margin-bottom: -5px;
  font-size: .9rem;
}

.nyt-book__author{
  font-weight: 400;
  margin-bottom: 0px;
}

.nyt-book__isbn{
  font-size: .7rem;
}

.nyt-book__rank{
  font-size: .7rem;
  margin-bottom: 0px;
}

.divider-line{
  color: rgba(54, 54, 54, 0.5);
}