*{
  font-family:'Newsreader', serif;
  
}

body{
  background-color:#F4F1EA !important;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

li{
  list-style: none;
}

h1 {
  color: rgb(0, 0, 0);
}

.goodboox-logo{
  text-decoration: none;
  margin-bottom: 0px;
  padding: 0px;
}

.goodboox-subtitle{
  margin-bottom: 1rem;
  font-weight: 400;
  font-style: oblique;
}

.review{
  /* border: black 2px solid; */
  margin-bottom: 50px;
}

.bold-600{
  font-weight: 600;
}

.bold-700{
  font-weight: 700;
}

.comment-name{
  font-weight: 700;
  font-size: .8rem;
}
p.comment-name{
  margin: 0 0 0 0 ;
}

.nyt-content{
  border: #382110 2px solid;
  background: rgb(245, 245, 245);
  padding: 10px 0px;
}
.nyt-box__container{
  display: flex;
  
  justify-content: space-between;
}

.book-img{
  
  margin:5px 15px 5px 5px;
  width: 185px;
}

.review-page{
  margin-bottom:5px;
  font-size: .8rem;
}

