
<div class="container review">
<p class="h4">Create a new book review</p>
<!-- FORM FOR NEW BOOK -->

<form action="/book/new" method="POST">
    <!-- Form Group 1-->
    <div class="form-group">
    <label for="book-title">Book Title *</label>
    <input type="text" class="form-control w-50 mb-3" id="book-title" name="title" placeholder="Enter a Book Title" required>
    <label for="author">Author of Book *</label>
    <input type="text" class="form-control w-50 mb-3" id="author" name="author" placeholder="Enter Author Name" required>
    <label for="category">Category *</label>
    <input type="text" class="form-control w-50 mb-3" id="category" name="category" placeholder="Enter a Category" required>
    <label for="content">Review *</label>
    <textarea name="content" class="form-control w-50 mb-3" id="content" cols="90" rows="10" placeholder="Enter your review" required></textarea>
    </div>
    <!-- End of Form Group 1-->

     <!-- Form Group 2-->
    <div class="form-group">
    <label for="book-price">Retail Price *</label>
    <input type="number" class="form-control w-25 mb-3" id="book-price" name="book_price" placeholder="Enter Book Price" required>
    <label for="img-url">Image Address (full URL) *</label>
    <input type="url" class="form-control w-50 mb-3" id="img-url" placeholder="Enter image URL" name="img_url" required>
    <div class="rating">
    <p>Rating (1 = Horrible, 5 = Excellent)</p>
    <input type="radio" class="form-check-input" id="1" name="book_rating" value=1 required>
    <label for="1">1</label>
    <input type="radio" class="form-check-input" id="2" name="book_rating" value=2 required>
    <label for="2">2</label>
    <input type="radio" class="form-check-input" id="3" name="book_rating" value=3 required>
    <label for="3">3</label>
    <input type="radio" class="form-check-input" id="4" name="book_rating" value=4 required>
    <label for="4">4</label>
    <input type="radio" class="form-check-input" id="5" name="book_rating" value=5 required>
    <label for="5">5</label>
    </div>
    </div>
    <!-- End of Form Group 2-->

<br \>
<input type="submit" value="Submit" class="btn btn-warning">
<br><br>
<p>* required</p>
</form>
<!-- END OF FORM FOR NEW BOOK -->

</div>